.navbar {
    height: 60px;
    background-color: #ddd;
    display: flex;
   
}

.menu-items a {
    margin-right: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    transition: all 0.3s;

}
.menu-items a:hover{
    color:orange;
}